version: '2'

services:
  test_65:
    environment:
      - consumer_key=mysecret
      - consumer_secret=mysecret
      - access_token=mysecret
      - access_token_secret=mysecret

  prod_150:
    environment:
      - consumer_key=mysecret
      - consumer_secret=mysecret
      - access_token=mysecret
      - access_token_secret=mysecret

  prod_250:
    environment:
      - consumer_key=mysecret
      - consumer_secret=mysecret
      - access_token=mysecret
      - access_token_secret=mysecret
